.footer {
  position: absolute;
  // width: 140px;
  width: 100%;
  // background-color: palegreen;
  bottom: 0;

  &__telescope {
    position: absolute;
    width: 140px;
    bottom: -115px;
    right: -35px;
    transform: rotate(-20deg);
    z-index: 1;
  }

  &__label {
    position: absolute;
    top: -28px;
    // float: right;
    background: red;
    box-sizing: border-box;

    // @TODO: I should set a max width here. I should address the situation on
    // wide desktop
    width: 60%;
    padding: 0 10px;
    color: white;
    right: 0;
    font-size: 25px;

    transition: width 0.2s;

    &--hide {
      width: 0;
    }
  }

  // &__contact {
  //   display: grid;
  //   grid-template-columns: 161px 132px;
  //   float: right;
  // }

  &__list {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px 25px;
    width: 161px;
    position: absolute;
    right: 105px;
    top: -110px;
    color: white;
    transition: visibility 0.2s, opacity 0.2s;

    li {
      // text-align: center;
      margin-left: 40px
    }
  }
}