.name {
  // @TODO: Ask Calvin the padding for this
  // before and after transition
  // padding-top: $name_padding_top_big;

  // @TODO: Ask Calvin the size for this name
  width: 150px;
  position: fixed;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);

  transition: width 0.4s ease-out, top 0.4s ease-out;

  &--small {
    top: 5%;
    width: 125px;
  }
}
