.project-list {
  background-color: skyblue;
  display: grid;
  justify-items: center;
  padding: 150px 50px 100px;
  box-sizing: border-box;

  min-height: 100vh;

  &__label {
    // @todo Calvin said the font-size is 32px but that seems too big
    font-size: 20px;

    mark {
      color: white; 
      background-color: red;
    }
  }
}