/*
    File: _base.scss
    Author: Patrick Galicia
    Desc: Styles for the base html tags such as h1, p, and body. Should not contain any other selectors
*/

html {
  background-image: url(#{$assets_import}/tile.png);
  background-size: 46.875rem 46.875rem;

  @include bp-phone {
    background-size: 29.375rem 29.375rem;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
