/*
    File: _base.scss
    Author: Patrick Galicia
    Desc: Styles for the base html tags such as h1, p, and body. Should not contain any other selectors
*/

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}