/*
    File: _utils.scss
    Author: Patrick Galicia
    Desc: Contains all utility styles, functions, etc
*/

// CENTER CONTENT
.center-content--x {
  @include center-contentX();
}

@mixin fit-content() {
  width: -moz-fit-content;
  width: fit-content;
}

@mixin bp-phone {
  @media (max-width: 450px) {
    @content;
  }
}
